pom.xml
pom.xml.asc
*.pom.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.iml
*.log

## application
node_modules
.shadow-cljs
.lsp
.lsp/.cache
.clj-kondo/.cache
.calva
.idea
.lein-*
.nrepl-*
.socket-*

.DS_Store
