{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}}

 :aliases {:test {:extra-paths ["test"]}

            ;; clj -M:clojure-lsp
           :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2022.09.01-15.27.31"}}
                         :main-opts ["-m" "clojure-lsp.main"]}
           :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
                   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
